{{yield}}

{{#if enableClicking}}
  <a href="#" {{action "acceptForDrop"}}>
    <div class="count">{{content.lengthz}}</div>  
  </a>
{{else}}
  <div class="count">{{content.lengthz}}</div>  
{{/if}}
