<h2>Cards</h2>

<div class="all-cards">
  {{#object-bin model=this name="All"}}
    {{partial "card"}}
  {{/object-bin}}
</div>

<br>

<a href="#" {{action "save"}}>Save</a>

<br><hr><br><br>

<div class="rated-cards">
  {{#object-bin name="Unranked" model=unrankedCards}}
    {{partial "card"}}
  {{/object-bin}}
</div>

<div class="rated-cards">
  {{#object-bin name="Good" model=goodCards}}
    {{partial "card"}}
  {{/object-bin}}
</div>

<div class="rated-cards">
  {{#object-bin name="Bad" model=badCards}}
    {{partial "card"}}
  {{/object-bin}}
</div>